# Auto detect text files and perform LF normalization
* text=auto
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.upk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
Content/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/**/*.umap filter=lfs diff=lfs merge=lfs -text
Plugins/Wwise/*.chm filter=lfs diff=lfs merge=lfs -text
